@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CashlessPayment Beheersysteem</h1>
    <p class="lead">Welkom op het beheersysteem van CashlessPayment. Hier kan u de verenigingen en kassa's beheren. Alsook het logboek per kassa opvragen. 
   </p>
    <p><i>Om gebruik te maken van het beheersysteem is inloggen noodzakelijk</i></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Wat kan ik doen met de kassa's</h2>
        <p>
            U kan alle kassa's bekijken globaal en per vereniging. U kan ook nieuwe kassa's toevoegen of verwijderen.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Wat kan ik doen met de verenigingen</h2>
        <p>U kan reeds bestaande verenigingen bekijken,aanpassen en verwijderen. Of u kan ook een nieuwe verenigingen toevoegen</p>
    </div>
    <div class="col-md-4">
        <h2>Errors</h2>
        <p>Het is mogelijk om errors te bekijken van de kassa's.</p>
    </div>
</div>